@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #323334;
}

.input {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: white;
    padding-left: 40px;
}

.input:hover {
    border: 1px solid white;

}

.image {
    height: 40px;
}

